{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
<section class="container pt-2" id="projects">
  <h2 class="highlight">🖥️ Projects</h2>
  <div class="projects">
    {% for project in projects_list %}
    <a href="{{ project.repo }}" class="project-card" target="_blank">
      <img src="{{ project.image }}" alt="">
      <h3 class="highlight">{{ project.name }}</h3>
      <p>{{ project.desc }}</p>
      <p><i>{{ project.year }}</i></p>
      <div class="project-skills">
        {% for skill in project.skills.all %}
        <p>{{ skill.name }}</p>
        {% endfor %}
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock content %}