{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock title %}

{% block content %}
<section class="container pt-2" id="projects">
  <h2 class="highlight">🖥️ Projects</h2>
  <div class="projects">
    <a href="https://github.com/AlexisPS0718" class="project-card" target="_blank">
      <img src="{% static 'img/placeholder.png' %}" alt="">
      <h3 class="highlight">Project name</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, natus.</p>
      <p><i>YYYY</i></p>
      <div class="project-skills">
        <p>Java</p>
        <p>Python</p>
        <p>C#</p>
        <p>PHP</p>
        <p>SQL</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
      </div>
    </a>
    <a href="https://github.com/AlexisPS0718" class="project-card" target="_blank">
      <img src="{% static 'img/placeholder.png' %}" alt="">
      <h3 class="highlight">Project name</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, natus.</p>
      <p><i>YYYY</i></p>
      <div class="project-skills">
        <p>Java</p>
        <p>Python</p>
        <p>C#</p>
        <p>PHP</p>
        <p>SQL</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
      </div>
    </a>
    <a href="https://github.com/AlexisPS0718" class="project-card" target="_blank">
      <img src="{% static 'img/placeholder.png' %}" alt="">
      <h3 class="highlight">Project name</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, natus.</p>
      <p><i>YYYY</i></p>
      <div class="project-skills">
        <p>Java</p>
        <p>Python</p>
        <p>C#</p>
        <p>PHP</p>
        <p>SQL</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
      </div>
    </a>
  </div>
</section>
{% endblock content %}