{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} - Alexis Peñuñuri</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alata&family=Lexend+Deca:wght@100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/sections.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>
  <header>
    <div class="logo">
      <a href="{% url 'index' %}">
        <h1>Alexis Peñuñuri</h1>
      </a>
    </div>
    <nav class="nav-header">
      <input type="checkbox" id="cb-ham">
      <div class="ham-btn">
        <label for="cb-ham">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      <div class="nav-items" id="nav-items">
        <a class="highlight" href="{% url 'index' %}">About me</a>
        <a class="highlight" href="#projects">Projects</a>
        <a class="highlight" href="#">Experience</a>
        <a class="highlight" href="#contact">Contact</a>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock content %}
  </main>

  <footer>
    <div class="logo-footer">
      <a href="{% url 'index' %}">
        <h1>Alexis Peñuñuri</h1>
      </a>
    </div>
    <div class="social-media">
      <div>
        <a href="https://github.com/AlexisPS0718"><i class="fa-brands fa-github sm-icon"></i></a>
      </div>
      <div>
        <a href="https://github.com/AlexisPS0718"><i class="fa-brands fa-github sm-icon"></i></a>
      </div>
      <div>
        <a href="https://github.com/AlexisPS0718"><i class="fa-brands fa-github sm-icon"></i></a>
      </div>
    </div>
    <nav class="nav-footer">
      <div class="nav-items" id="nav-items">
        <a class="highlight" href="{% url 'index' %}">About me</a>
        <a class="highlight" href="#projects">Projects</a>
        <a class="highlight" href="#">Experience</a>
        <a class="highlight" href="#contact">Contact</a>
      </div>
    </nav>
  </footer>
</body>

</html>